@model _0306191062_vohoangphuc.Areas.Admin.Models.TaiKhoan
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Minics - Login</title>
</head>
<body>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form asp-action="Login">
                <h1>Đăng nhập</h1>
                <input style="margin-top: 40px; margin-bottom: 10px ;" asp-for="TenNguoiDung" type="text" placeholder="Tên đăng nhập" />
                <input type="password" asp-for="MatKhau" placeholder="Mật khẩu" />
                <button style="margin-top: 40px;">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 h1>Hello, Friend!</h1>
                    <p>Chào mừng đến với Minics</p>
                    <button  class="ghost" id="signUp"><a asp-action="Register" style="color:white;">Đăng ký</a></button>          
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>
